.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.cardsContainer a {
    text-decoration: none;
    color: inherit;
}

.card {
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgb(235, 215, 255, 0.5);
    width: 250px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

    padding: 10px;
    margin: 5px 0;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Responsividade */

@media (max-width: 768px) {
    .cardsContainer {
        gap: 8px;
    }

    .card {
        width: 220px;
        height: 80px;
        font-size: 1.2em;
    }
}

@media (max-width: 425px) {
    .cardsContainer {
        gap: 5px;
        padding: 5px;
    }

    .card {
        width: 90%;
        height: 70px;
        font-size: 0.9em;
    }
}