footer {
    background-color: var(--roxoMedio);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.7em;
    width: 100%;
    flex-wrap: wrap;
}

.itemRodape {
    flex: 1;
    text-align: center;
}

.itemRodape ul {
    list-style: none;
    padding: 0;
}

.itemRodape li {
    margin-bottom: 5px;
}

.itemRodape a {
    text-decoration: none;
    color: inherit;
}

/* Responsividade */

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .itemRodape {
        margin: 15px 0;
    }
}

@media (max-width: 480px) {
    footer {
        width: 100%;
        font-size: 0.9em;
    }

    .itemRodape {
        text-align: center;
    }

    .itemRodape h3 {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .itemRodape li {
        margin-bottom: 8px;
    }
}