.deleteContainer {
  width: 350px;
  text-align: center;
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(223, 180, 254, 0.518)
}

.deleteContainer h2 {
  font-size: 16px;
  font-weight: 400; 
  margin-bottom: 20px;
  line-height: 1.5; 
}

.deleteContainer p {
  font-size: 16px;
  margin: 5px;;
}

.deleteButton {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: indigo;
  color: white;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #7a2399; 
}